<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>URCom | 쉽게 사는 노트북</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
  body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  .navbar {
    background-color: #2A1AE4;
    padding: 10px;
    color: white;
    width: 100%;
    box-sizing: border-box;
  }

  .container {
    display: flex;
    padding: 20px;
  }

  .sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
    padding-right: 20px;
  }

  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }

  .sidebar button.active, .sidebar button:hover {
    background-color: #2A1AE4;
    color: white;
  }

  .content {
    flex-grow: 1;
    padding-left: 40px; /* Increased padding to move content to the right */
  }

  .content h2 {
    color: rgb(10, 8, 40, 0.7);
    
  }

  .option {
    margin-bottom: 10px;
  }

  .option label {
    display: block;
    margin-bottom: 5px;
  }

  .option input[type="checkbox"] {
    margin-right: 10px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
  }

  .navigation button {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }

  .navigation button:hover {
    background-color: #2A1AE4;
    color: white;
  }
</style>
</head>
<body>

<div class="navbar" style="margin-bottom: 60px;">
  URCom | 쉽게 사는 노트북
</div>

<div class="container">
  <div class="sidebar" style="margin-top: 30px;">
    <button id="weight" class="active">무게</button>
    <button id="purpose">사용 목적</button>
    <button id="game">게이밍</button>
    <button id="feature">주요 특징</button>
    <button id="OS">OS</button>
    <button id="size">화면 크기</button>
    <button id="price">가격</button>
  </div>
  <div class="content" id="weight">
    <h2>1. 내 노트북의 무게는?</h2>
    <div class="option">
      <label><input type="checkbox" name="weight" value="light"> 가벼워야 한다. (1.5kg 이하)</label>
    </div>
    <div class="option">
      <label><input type="checkbox" name="weight" value="not-too-heavy"> 너무 무겁지만 않으면 된다. (2kg 이하)</label>
    </div>
    <div class="option">
      <label><input type="checkbox" name="weight" value="heavy-ok"> 무거워도 상관없다. (2kg 이상)</label>
    </div>
  </div>
</div>
<div class="content" id="purpose">
    <h2 style="margin-bottom: 20px;">2. 내 노트북의 사용 목적은?</h2>
    <lable style="font-size: 18px; font-weight: bold;">웹 서핑/영상 시청</lable>
    <div class="option">
      <label><input type="checkbox" name="웹 서핑/영상 시청" value="0">사용하지 않음</label><label><input type="checkbox" name="웹 서핑/영상 시청" value="1">때때로 사용함</label><label><input type="checkbox" name="웹 서핑/영상 시청" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">사무용 (엑셀, ppt, 문서 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="사무용" value="0">사용하지 않음</label><label><input type="checkbox" name="사무용" value="1">때때로 사용함</label><label><input type="checkbox" name="사무용" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">캐주얼 게임 (롤, 서든어택, fc온라인 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="캐주얼 게임" value="0">사용하지 않음</label><label><input type="checkbox" name="캐주얼 게임" value="1">때때로 사용함</label><label><input type="checkbox" name="캐주얼 게임" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">공학/설계/그래픽 (CAD, 3ds Max 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="공학/설계/그래픽" value="0">사용하지 않음</label><label><input type="checkbox" name="공학/설계/그래픽" value="1">때때로 사용함</label><label><input type="checkbox" name="공학/설계/그래픽" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">사진/그래픽 편집 (포토샵, 일러스트레이트 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="사진/그래픽 편집" value="0">사용하지 않음</label><label><input type="checkbox" name="사진/그래픽 편집" value="1">때때로 사용함</label><label><input type="checkbox" name="사진/그래픽 편집" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">고사양 게임 (배틀그라운드, 로스트아크 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="고사양 게임" value="0">사용하지 않음</label><label><input type="checkbox" name="고사양 게임" value="1">때때로 사용함</label><label><input type="checkbox" name="고사양 게임" value="2">자주 사용함</label>
    </div>
    <lable style="font-size: 18px; font-weight: bold;">영상 편집 (프리미어프로, 애프터 이펙트 등)</lable>
    <div class="option">
      <label><input type="checkbox" name="영상 편집" value="0">사용하지 않음</label><label><input type="checkbox" name="영상 편집" value="1">때때로 사용함</label><label><input type="checkbox" name="영상 편집" value="2">자주 사용함</label>
    </div>
  </div>
    <div class="navigation">
        <button id="previous" style="visibility: hidden;">이전</button>
        <button id="next">다음</button>
    </div>
</div>
<script>
  $(document).ready(function() {
    $('#next').click(function(e) { // 'e' 파라미터 추가
        // 선택된 체크박스의 개수 계산
        var checkedCount = $('input[type="checkbox"]:checked').length;
        
        // 선택된 체크박스가 없을 경우
        if(checkedCount !== 1) {
            e.preventDefault(); // 이벤트 전파 중단
            alert('1개의 옵션을 선택하세요.'); // 경고 메시지 표시
        } else {
            // 최소 1개의 옵션이 선택되었다면, 선택된 옵션 수집
            var selectedweight = $('input[name="weight"]:checked').map(function() {
                return this.value;
            }).get();
    
            // AJAX 호출
            $.ajax({
                url: '/form1',
                type: 'POST',
                data: {weight: selectedweight},
                success: function(response) {
                    // 서버로부터 응답이 성공적으로 오면, form6.ejs로 페이지 이동
                    window.location.href = 'form2.ejs';
                },
                error: function(xhr, status, error) {
                    // 오류 처리
                    alert("에러 발생: " + error);
                }
            });
        }
    });
});

  document.querySelector('#purpose').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form2.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  document.querySelector('#game').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form3.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  document.querySelector('#feature').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form4.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  document.querySelector('#OS').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form5.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  document.querySelector('#size').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form6.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  document.querySelector('#price').addEventListener('click', function() {
    // 여기에 설문조사 화면으로 이동하는 코드를 작성하세요.
    window.location.href = 'form7.ejs'; // 'your-survey-page.html'를 설문조사 페이지의 URL로 교체하세요.
  });
  </script>  

</body>
</html>